modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33669
externalPort = 3000

[[ports]]
localPort = 34405
externalPort = 9000

[[ports]]
localPort = 35441
externalPort = 8008

[[ports]]
localPort = 37991
externalPort = 3001

[[ports]]
localPort = 38709
externalPort = 8000

[[ports]]
localPort = 38969
externalPort = 3002

[[ports]]
localPort = 40653
externalPort = 5000

[[ports]]
localPort = 41567
externalPort = 6800

[[ports]]
localPort = 42659
externalPort = 4200

[[ports]]
localPort = 43637
externalPort = 8081

[[ports]]
localPort = 44113
externalPort = 5173

[[ports]]
localPort = 44135
externalPort = 8099

[[ports]]
localPort = 45431
externalPort = 3003

[[ports]]
localPort = 45509
externalPort = 6000

[[ports]]
localPort = 45739
externalPort = 8080

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000
