packages:
  yum:
    python3: []
    python3-devel: []
    gcc: []

commands:
  01_install_python_packages:
    command: |
      python3 -m pip install --upgrade pip
      python3 -m pip install langchain_experimental langchain_openai langchain_community langchain-experimental pinecone-client openai python-dotenv