option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 18
    ProxyServer: nginx
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    NPM_USE_PRODUCTION: false
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: dist

container_commands:
  01_build:
    command: "npm run build"